{% extends "base.html" %}
{% block title %}ootd: board{% endblock %}
{% block header_text %}ootd: board{% endblock %}


{% block content %}
  {% load staticfiles %}
<main class="masthead  mt-4">
    <div class="container card-body ">
        <h4>posting</h4>
        <form method='post' action='' enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit">
        </form>

    </div>
</main>
{% endblock content %}

