{% extends "base.html" %}
{% block title %}ootd: board{% endblock %}
{% block header_text %}ootd: board{% endblock %}


{% block content %}
  {% load staticfiles %}
      <main class="masthead  mt-4">
            <div class="container card-body ">
              <div class="mdl-card__supporting-text">
                  <h4>{{boards.title}}</h4>
                  <p>{{boards.content}}</p>
                   {% if boards.photo %}
                    <img src="{{ boards.photo.url }}" alt="">
                   {% endif %}
              </div>
            <button onclick="window.history.back();" class="mdl-button mdl-js-button mdl-button--primary" type="button">Cancel</button>
            </div>

          <h2>{{ post.title }}</h2>


      </main>

{% endblock content %}
