{% extends 'base.html' %}
{% block title %}ootd: our today's clothes{% endblock %}
{% block content %}

<!-- Full Page Image Header with Vertically Centered Content -->
  <div class="container" style="border-radius: 20px;align-items: center;display: flex;height: 100px;color: white;background: #00c6ff;  /* fallback for old browsers */background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <div class="" style="flex: auto;">
        <h4 class="mt-2"style="float: left;"> Hi,   {{user.username}} </h4>
      <div class="text-center " style="float: right;"><i style=" font-size: 3rem;" class="center fas fa-cloud-sun"></i></div>
      <div style="float: right;"><i style="font-size: 2rem;"class="ml-2 mr-2 fas fa-thermometer-three-quarters">  {{temperature}}</i>  </div>
          </div>
  </div>


<!-- Page Content -->
<section class=" pricing py-5">
  <div class="container">

    <!-- Plus Tier -->

      <div class="card col-lg-4">
      <h4 class="card-title">Today's recommend </h4>
      {% if recommand %}
        {% for i in recommand %}
      <div class="card-body ">
          <img class="" style="max-height= 100px"src="/{{i.thumb}}" alt="">
      </div>
        {%endfor%}</div>
      {% else %} <p> There are no clothes to recommend. </p>
      {% endif%}
    </div>
    </div>
  </div>


    <div>
  </section>




{% endblock %}


